body {
  background-color: #093A5F;
  color: #fff;
  font-family: 'kurale';
  position: relative;
  margin: 0;
  padding: 5vh 5vw;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.num {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 60px;
}

tr {
  background-color: #fff;
}

tr td:first-child {
  background-color: rgb(255, 0, 234);
  color: #fff;
}

.table,
.table td,
.table tr {
  border-collapse: collapse;
  border-radius: 6px;
  border: 1px solid #000;
  padding: 5px 10px;
}

table {
  margin: 10px auto;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.active {
  background-color: rgb(18, 151, 0);
}

.error {
  background-color: rgb(209, 0, 0);
}

.pedding {
  background-color: rgb(255, 255, 0);
}

.active a,
.error a {
  color: #fff;
}

.btn {
  margin: 20px auto;
  padding: 10px;
  width: 100px;
  border-radius: 15px;
  background-color: #0044ff;
  color: #fff;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 0 15px #000;
}

.btn:hover {
  box-shadow: inset 0 0 15px #fff, 0 0 15px #fff;
  transition: 0.5s;
}

.box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.info {
  display: block;
  margin: 0 auto;
  text-align: center;
}